.footer-links
	%a.home{:href => "/"}
		HOME
	%span.spacer
		\//
	%a.about{:href => "/about"}
		ABUOT US
	%span.spacer
		\//
	%a.contact{:href => "/contact"}
		CONTACT US
	%span.spacer
		\//
	%a.privacy{:href => "/privacy"}
		PRIVACY POLICY
	%span.spacer
		\//
	%a.terms{:href => "/terms"}
		TERMS & CONDITIONS
.footer-contact
	%span.address
		7745 Carondelet Ave, Suite 200 Clayton, Missouri 63105-3315
	%span.number
		%img.phone{:src => "/images/phone.png", :alt => "Phone"}
		314.725.1414
.copy-right
	&copy; 2011 POWERS INSURANCE & BENEFITS.  ALL RIGHTS RESERVED