.footer-links
	%a.home{:href => "/"}
		HOME
	%span.spacer
		\&emsp;
	%a.about{:href => "/aboutus"}
		ABOUT US
	%span.spacer
		\&emsp;
	%a.contact{:href => "/contact"}
		CONTACT US
	%span.spacer
		\&emsp;
	%a.privacy{:href => "/privacy"}
		PRIVACY POLICY
	%span.spacer
		\&emsp;
	%a.terms{:href => "/terms"}
		TERMS & CONDITIONS
.footer-contact
	%span.address
		7745 Carondelet Ave, Suite 200&emsp; Clayton, Missouri&emsp; 63105-3315
	%span.number
		&emsp;314.725.1414
.copy-right
	&copy; 2011 POWERS INSURANCE & BENEFITS.  ALL RIGHTS RESERVED