%a.business{:alt => "Business Lines", :href => "/business"}
	%span
		Business
%a.homeauto{:alt => "Home/Auto", :href => "/homeauto"}
	%span
		Home/Auto
%a.benefits{:alt => "Benefits", :href => "/benefits"}
	%span
		Benefits