!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
	%head
		%style{:type => 'text/css'}	
	%body
		Thank you for choosing POWERS&reg; Insurance and Benefits!  A licensed POWERS&reg representative will follow up shortly.