.page-content {
	.index {
		position: relative;
		width: 598px;
		padding-bottom: 10px;
		a {
			display: block;
			position: relative;
			float: left;
			padding-top: 20px;
			&.instantquote {
			    clear: left;
			    width: 278px;
			    height: 43px;
			    background: url(/images/biz-instantquote.png) no-repeat;
			}
			&.livechat {
			    width: 208px;
			    height: 43px;
			    margin-left: 42px;
			    clear: right;
			    background: url(/images/biz-livechat.png) no-repeat;
			}
			&:hover {
				background-position: 0px -43px;
			}
			span {
				display: none;
			}
		}
	}
}