.top-nav {
  height: 118px;
  background: url(/images/top-nav-bg-repeat.png) #ecebeb repeat-x; }
  .top-nav .three-button {
    width: 100%;
    height: 88px;
    margin: auto;
    padding-top: 30px;
    background: url(/images/top-nav-bg.jpg) no-repeat center; }
    .top-nav .three-button .three-button-center {
      width: 907px;
      position: relative;
      margin: auto; }
      .top-nav .three-button .three-button-center a {
        display: block;
        position: relative;
        float: left;
        padding-top: 20px; }
        .top-nav .three-button .three-button-center a.business {
          clear: left;
          width: 279px;
          height: 63px;
          margin-left: auto;
          background: url(/images/top-nav-business.png) no-repeat; }
        .top-nav .three-button .three-button-center a.homeauto {
          width: 293px;
          height: 63px;
          background: url(/images/top-nav-homeauto.png) no-repeat; }
        .top-nav .three-button .three-button-center a.benefits {
          clear: right;
          width: 330px;
          height: 63px;
          margin-right: auto;
          background: url(/images/top-nav-benefits.png) no-repeat; }
        .top-nav .three-button .three-button-center a:hover {
          background-position: 0px -83px; }
        .top-nav .three-button .three-button-center a.current {
          background-position: 0px -83px; }
        .top-nav .three-button .three-button-center a span {
          display: none; }

.middle-wrapper {
  background: url(/images/bg-repeat.jpg) repeat;
  position: relative;
  width: 100%;
  padding-bottom: 35px; }
  .middle-wrapper .middle {
    padding-bottom: 40px;
    width: 907px;
    margin: auto;
    position: relative; }
    .middle-wrapper .middle .page-content {
      position: relative;
      width: 907px;
      padding-top: 10px;
      padding-bottom: 10px; }
      .middle-wrapper .middle .page-content h1 {
        color: #438BC3;
        font-size: 23px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 0;
        padding: 8px 0 0 35px;
        text-shadow: 0 1px 0 #FFFFFF;
        letter-spacing: .03em; }
      .middle-wrapper .middle .page-content p {
        font-family: helvetica;
        color: #929191;
        font-size: 14px;
        line-height: 20px;
        padding: 20px 50px 0 35px;
        font-weight: 300;
        text-shadow: 0 1px 0 #FFFFFF;
        margin: 0; }

.assoc-head-top {
  height: 42px;
  width: 901px;
  position: relative;
  background: url(/images/assoc-head-top.jpg) no-repeat; }

.assoc-head-middle {
  position: relative;
  width: 901px;
  background: url(/images/assoc-head-middle.jpg) repeat-y; }
  .assoc-head-middle .logos {
    width: 700px;
    margin: auto;
    margin-top: 30px; }
    .assoc-head-middle .logos .affil-top {
      width: 700px;
      height: 165px; }
      .assoc-head-middle .logos .affil-top .trustedchoice {
        background: url(/images/trustedchoice.jpg) no-repeat;
        height: 159px;
        width: 211px;
        float: left;
        display: block;
        margin-left: 16px; }
      .assoc-head-middle .logos .affil-top .workcomp {
        background: url(/images/workcomp.jpg) no-repeat;
        height: 159px;
        width: 211px;
        float: left;
        display: block;
        margin-left: 16px; }
      .assoc-head-middle .logos .affil-top .viaa {
        background: url(/images/viaa.jpg) no-repeat;
        height: 159px;
        width: 211px;
        float: left;
        display: block;
        margin-left: 16px; }
      .assoc-head-middle .logos .affil-top a:hover {
        background-position: 0 -159px; }
    .assoc-head-middle .logos .affil-bottom {
      width: 700px;
      height: 165px; }
      .assoc-head-middle .logos .affil-bottom .missouri {
        background: url(/images/missouri.jpg) no-repeat;
        height: 159px;
        width: 211px;
        float: left;
        display: block;
        margin-left: 16px; }
      .assoc-head-middle .logos .affil-bottom .iia {
        background: url(/images/iia.jpg) no-repeat;
        height: 159px;
        width: 211px;
        float: left;
        display: block;
        margin-left: 16px; }
      .assoc-head-middle .logos .affil-bottom .siaa {
        background: url(/images/siaa.jpg) no-repeat;
        height: 159px;
        width: 211px;
        float: left;
        display: block;
        margin-left: 16px; }
      .assoc-head-middle .logos .affil-bottom a:hover {
        background-position: 0 -159px; }

.assoc-head-bottom {
  position: relative;
  width: 901px;
  height: 29px;
  background: url(/images/assoc-head-bottom.jpg) no-repeat; }

.assoc {
  width: 423px;
  position: relative;
  float: left;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .assoc.producers {
    clear: left; }
  .assoc.administrative {
    clear: right; }
  .assoc.commercial {
    clear: left; }
  .assoc.personal {
    clear: right; }
  .assoc.benefits {
    clear: both; }
  .assoc .admin {
    display: none; }
  .assoc .assoc-top {
    height: 42px;
    width: 423px;
    position: relative;
    background: url(/images/associates-bg-top.jpg) no-repeat; }
    .assoc .assoc-top h2 {
      color: #133361;
      font-size: 20px;
      font-weight: 300;
      padding-left: 16px;
      padding-top: 10px;
      text-shadow: 0 1px 0 #FFFFFF; }
  .assoc .assoc-middle {
    padding-top: 11px;
    width: 423px;
    position: relative;
    background: url(/images/associates-bg-middle.jpg) repeat-y; }
    .assoc .assoc-middle h2 {
      margin: 0px 0px 0px 0px; }
  .assoc .associate {
    width: 391px;
    height: 70px;
    position: relative;
    margin-left: 15px;
    padding-top: 2px;
    padding-left: 2px;
    background: url(/images/associate-bg.png) no-repeat; }
    .assoc .associate:hover {
      background-position: 0px -71px; }
    .assoc .associate .avatar {
      height: 64px;
      width: 64px;
      position: relative;
      background: url(/images/missing.png) no-repeat;
      float: left;
      clear: left;
      margin-right: 10px; }
      .assoc .associate .avatar img {
        display: block;
        height: 64px;
        width: 64px; }
    .assoc .associate .info {
      width: 240px;
      height: 60px;
      position: relative;
      padding-top: 3px;
      float: left; }
      .assoc .associate .info .name {
        padding-top: 4px; }
        .assoc .associate .info .name p {
          margin: 0;
          padding: 0;
          text-shadow: 0 1px 0 #ffffff;
          color: #133361; }
      .assoc .associate .info .cert {
        margin-top: -5px; }
        .assoc .associate .info .cert p {
          margin: 0;
          padding: 0;
          color: #636363;
          font-size: 13px;
          font-weight: 500; }
      .assoc .associate .info .title {
        padding-bottom: 3px;
        margin-top: -3px; }
        .assoc .associate .info .title p {
          margin: 0;
          padding: 0;
          color: #5288c1;
          font-size: 13px;
          font-weight: 500; }
    .assoc .associate .email {
      display: block;
      position: relative;
      width: 75px;
      height: 71px;
      float: left;
      clear: right; }
      .assoc .associate .email a {
        display: block;
        width: 75px;
        height: 71px; }
  .assoc .assoc-bottom {
    height: 14px;
    width: 423px;
    position: relative;
    background: url(/images/associates-bg-bottom.jpg) no-repeat; }

.clearall {
  clear: both; }
