.middle {
  width: 100%;
  height: 411px;
  float: left;
  clear: both;
  background: #055189 url(/images/home-bg-repeat.jpg) repeat-x center; }
  .middle .home-content {
    width: 1200px;
    height: 409px;
    margin: auto;
    margin-top: 5px; }

.home-content .home-image {
  float: left;
  clear: left;
  width: 312px;
  height: 380px;
  margin-left: 150px;
  background: url(/images/home-image.png) no-repeat; }
.home-content .home-about {
  float: left;
  width: 271px;
  height: 380px;
  padding-left: 10px;
  padding-right: 20px;
  background: url(/images/home-about.png) no-repeat; }
  .home-content .home-about h1 {
    color: #012031;
    margin-top: 17px;
    margin-bottom: 3px;
    color: #012031;
    font-size: 28px;
    font-weight: 300;
    text-shadow: 0 1px 0 #81D6E9; }
  .home-content .home-about h2 {
    color: #FFF;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 3px;
    margin-top: 24px;
    text-shadow: 0 1px 0 #064E88; }
    .home-content .home-about h2 p {
      margin-top: 0px;
      margin-bottom: 3px; }
  .home-content .home-about .description p {
    color: #013662;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 3px;
    text-shadow: 0 1px 0 #97d6f1; }
  .home-content .home-about a.readmore {
    background: url(/images/read-more.png) no-repeat;
    width: 115px;
    height: 35px;
    display: block;
    margin-right: -10px;
    margin-top: -5px;
    float: right; }
    .home-content .home-about a.readmore span {
      display: none; }
    .home-content .home-about a.readmore:hover {
      background-position: 0 -35px;
      cursor: pointer; }
.home-content .home-contact {
  float: left;
  clear: right;
  width: 245px;
  height: 380px;
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: url(/images/home-contact.png) no-repeat; }
  .home-content .home-contact h3 {
    color: #012031;
    margin-top: 7px;
    margin-bottom: 15px;
    font-size: 14px; }
  .home-content .home-contact .address {
    float: left;
    clear: both;
    color: #95e4fc;
    font-size: 13px;
    margin-bottom: 10px; }
    .home-content .home-contact .address span {
      float: left;
      clear: both; }
  .home-content .home-contact .numbers {
    float: left;
    clear: left;
    width: 165px; }
    .home-content .home-contact .numbers h4 {
      color: white;
      margin: 0px 0px 0px 0px;
      font-size: 13px;
      text-align: right; }
    .home-content .home-contact .numbers .numbers-left {
      float: left;
      clear: left;
      width: 45px; }
    .home-content .home-contact .numbers .numbers-right {
      float: left;
      clear: right;
      width: 115px;
      height: 50px;
      padding-left: 5px;
      color: #012031;
      font-size: 14px; }
      .home-content .home-contact .numbers .numbers-right span {
        float: left;
        clear: both;
        height: 18px; }
  .home-content .home-contact .hours {
    float: left;
    clear: right;
    width: 80px; }
    .home-content .home-contact .hours h4 {
      color: white;
      margin: 0px 0px 0px 0px;
      font-size: 13px;
      margin-bottom: 3px; }
    .home-content .home-contact .hours span {
      float: left;
      clear: both;
      height: 18px;
      color: #012031;
      font-size: 14px; }

.bottom-nav {
  width: 1200px;
  margin: auto;
  float: left;
  clear: both; }
  .bottom-nav a {
    display: block;
    float: left;
    margin-top: -45px; }
    .bottom-nav a.business {
      clear: left;
      width: 288px;
      height: 109px;
      margin-left: 158px;
      background: url(/images/bottom-nav-business.png) no-repeat; }
    .bottom-nav a.homeauto {
      width: 288px;
      height: 109px;
      margin-left: 20px;
      background: url(/images/bottom-nav-homeauto.png) no-repeat; }
    .bottom-nav a.benefits {
      clear: right;
      width: 288px;
      height: 109px;
      margin-left: 20px;
      background: url(/images/bottom-nav-benefits.png) no-repeat; }
    .bottom-nav a:hover {
      background-position: 0px -109px; }
    .bottom-nav a span {
      display: none; }

.ticker {
  float: left;
  clear: both;
  width: 594px;
  height: 46px;
  margin-left: 317px;
  margin-top: -3px;
  background: url(/images/ticker.png) no-repeat; }
  .ticker a {
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    width: 594px;
    height: 46px;
    display: block; }
    .ticker a.hide {
      display: none; }
    .ticker a span.date {
      color: #000; }
      .ticker a span.date:hover {
        text-decoration: none; }
    .ticker a span.headline {
      color: #FFF; }
      .ticker a span.headline:hover {
        text-decoration: underline; }
    .ticker a span.readmore {
      color: #52bfdb; }
      .ticker a span.readmore:hover {
        text-decoration: none; }
