$powers-dark-blue: #012031;
$powers-blue: #013662;
$powers-light-blue: #95e4fc;

.middle {
  width: 100%;
  height: 411px;
  float: left;
  clear: both;
  background: #055189 url(/images/home-bg-repeat.jpg) repeat-x center;
  .home-content {
    width: 1200px;
    height: 409px;
    margin: auto;
    margin-top: 5px; } }

.home-content {
	.home-image {
		float: left;
		clear: left;
		width: 312px;
		height: 380px;
		margin-left: 150px;
		background: url(/images/home-image.png) no-repeat;
	}
	
	.home-about {
		float: left;
		width: 271px;
		height: 380px;
		padding-left: 10px;
		padding-right: 20px;
		background: url(/images/home-about.png) no-repeat;
		
		h1 {
			color: $powers-dark-blue;
			margin-top: 17px;
			margin-bottom: 3px;
			color: #012031;
			font-size: 28px;
			font-weight: 300;
			text-shadow: 0 1px 0 #81D6E9;
		}
		h2 {
			color: #FFF;
			font-size: 17px;
			font-weight: 300;
			line-height: 21px;
			margin-bottom: 3px;
			margin-top: 24px;
			text-shadow: 0 1px 0 #064E88;
			p {
				margin-top: 0px;
				margin-bottom: 3px;
			}
		}
		.description p{
			color: #013662;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
			margin-bottom: 3px;
			text-shadow: 0 1px 0 #97d6f1;
		}
		a.readmore{
			background: url(/images/read-more.png) no-repeat;
			width: 115px;
			height: 35px;
			display: block;
			margin-right: -10px;
			margin-top: -5px;
			float: right;
			span {
				display: none;
			}
			&:hover {
				background-position: 0 -35px;
				cursor: pointer;
			}
		}
	}
	
	.home-contact {
		float: left;
		clear: right;
		width: 245px;
		height: 380px;
		margin-left: 5px;
		padding-left: 20px;
		padding-right: 20px;
		background: url(/images/home-contact.png) no-repeat;
		h3 {
			color: $powers-dark-blue;
			margin-top: 7px;
			margin-bottom: 15px;
			font-size: 14px;
		}
		.address {
			float: left;
			clear: both;
			color: $powers-light-blue;
			font-size: 13px;
			margin-bottom: 10px;
			span {
				float: left;
				clear: both;
			}
		}
		.numbers {
			float: left;
			clear: left;
			width: 165px;
			h4 {
				color: white;
				margin: 0px 0px 0px 0px;
				font-size: 13px;
				text-align: right;
			}
			.numbers-left {
				float: left;
				clear: left;
				width: 45px;
			}
			.numbers-right {
				float: left;
				clear: right;
				width: 115px;
				height: 50px;
				padding-left: 5px;
				color: $powers-dark-blue;
				font-size: 14px;
				span {
					float: left;
					clear: both;
					height: 18px;
				}
			}
		}
		.hours {
			float: left;
			clear: right;
			width: 80px;
			h4 {
				color: white;
				margin: 0px 0px 0px 0px;
				font-size: 13px;
				margin-bottom: 3px;
			}
			span {
					float: left;
					clear: both;
					height: 18px;
					color: $powers-dark-blue;
					font-size: 14px;
			}
		}
	}


}

.bottom-nav {
	width: 1200px;
	margin: auto;
	float: left;
	clear: both;
	a {
		display: block;
		float: left;
		margin-top: -45px;
		&.business {
			clear: left;
			width: 288px;
			height: 109px;
			margin-left: 158px;
			background: url(/images/bottom-nav-business.png) no-repeat;
		}
		&.homeauto {
			width: 288px;
			height: 109px;
			margin-left: 20px;
			background: url(/images/bottom-nav-homeauto.png) no-repeat;
		}
		&.benefits {
			clear: right;
			width: 288px;
			height: 109px;
			margin-left: 20px;
			background: url(/images/bottom-nav-benefits.png) no-repeat;
		}
		&:hover {
			background-position: 0px -109px;
		}
		span {
			display: none;
		}
	}
}

.ticker {
	float: left;
	clear: both;
	width: 594px;
	height: 46px;
	margin-left: 317px;
	margin-top: -3px;
	background: url(/images/ticker.png) no-repeat;
	a {
		text-decoration: none;
		text-align: center;
		margin-top: 10px;
		width: 594px;
		height: 46px;
		display: block;
		&.hide {
			display: none;
		}
		span.date {
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}
		span.headline {
			color: #FFF;
			&:hover {
				text-decoration: underline;
			}
		}
		span.readmore {
			color: #52bfdb;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

