.middle {
  height: 411px;
  position: relative;
  background: #055189 url(/images/home-bg-repeat.jpg) repeat-x center; }
  .middle .home-content {
    width: 1024px;
    height: 409px;
    margin: auto;
    position: relative; }

.home-content .home-image {
  float: left;
  clear: left;
  width: 312px;
  height: 380px;
  margin-left: 63px;
  margin-top: 3px;
  background: url(/images/home-image.png) no-repeat; }
.home-content .home-about {
  float: left;
  width: 271px;
  height: 380px;
  padding-left: 10px;
  padding-right: 20px;
  margin-top: 3px;
  background: url(/images/home-about.png) no-repeat; }
  .home-content .home-about h1 {
    color: #012031;
    color: #012031;
    font-size: 22px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 3px;
    margin-top: 16px;
    text-shadow: 0 1px 0 #81D6E9; }
  .home-content .home-about h2 {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 18px;
    margin-bottom: 3px;
    margin-top: 29px; }
    .home-content .home-about h2 p {
      margin-top: 0px;
      margin-bottom: 3px; }
  .home-content .home-about .description p {
    color: #013662;
    font-family: helvetica;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 3px;
    text-shadow: 0 1px 0 #97d6f1; }
  .home-content .home-about .description li {
    color: #013662;
    font-family: helvetica;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 3px;
    margin-left: -50px;
    text-shadow: 0 1px 0 #97d6f1; }
  .home-content .home-about a.readmore {
    background: url(/images/read-more.png) no-repeat;
    position: absolute;
    width: 115px;
    height: 35px;
    display: block;
    float: right;
    top: 275px;
    left: 550px; }
    .home-content .home-about a.readmore span {
      display: none; }
    .home-content .home-about a.readmore:hover {
      background-position: 0 -35px;
      cursor: pointer; }
.home-content .home-contact {
  float: left;
  clear: right;
  width: 245px;
  height: 380px;
  margin-left: 5px;
  margin-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  background: url(/images/home-contact.png) no-repeat; }
  .home-content .home-contact h3 {
    color: #012031;
    margin-top: 7px;
    margin-bottom: 15px;
    font-size: 14px; }
  .home-content .home-contact .address {
    float: left;
    clear: both;
    color: #95e4fc;
    font-size: 13px;
    margin-bottom: 10px; }
    .home-content .home-contact .address span {
      float: left;
      clear: both; }
  .home-content .home-contact .numbers {
    float: left;
    clear: left;
    width: 165px; }
    .home-content .home-contact .numbers h4 {
      color: white;
      margin: 0px 0px 0px 0px;
      font-size: 13px;
      text-align: right; }
    .home-content .home-contact .numbers .numbers-left {
      float: left;
      clear: left;
      width: 45px; }
    .home-content .home-contact .numbers .numbers-right {
      float: left;
      clear: right;
      width: 115px;
      height: 50px;
      padding-left: 5px;
      color: #012031;
      font-size: 14px; }
      .home-content .home-contact .numbers .numbers-right span {
        float: left;
        clear: both;
        height: 18px; }
  .home-content .home-contact .hours {
    float: left;
    clear: right;
    width: 80px; }
    .home-content .home-contact .hours h4 {
      color: white;
      margin: 0px 0px 0px 0px;
      font-size: 13px;
      margin-bottom: 3px; }
    .home-content .home-contact .hours span {
      float: left;
      clear: both;
      height: 18px;
      color: #012031;
      font-size: 14px; }

.bottom-nav {
  margin: auto;
  width: 1024px;
  height: 23px; }
  .bottom-nav a {
    float: left;
    display: block;
    margin-top: -80px; }
    .bottom-nav a.business {
      clear: left;
      width: 279px;
      height: 110px;
      margin-left: 63px;
      background: url(/images/bottom-nav-business.png) no-repeat; }
    .bottom-nav a.homeauto {
      width: 293px;
      height: 110px;
      background: url(/images/bottom-nav-homeauto.png) no-repeat; }
    .bottom-nav a.benefits {
      width: 330px;
      height: 110px;
      clear: right;
      background: url(/images/bottom-nav-benefits.png) no-repeat; }
    .bottom-nav a:hover {
      background-position: 0px -110px; }
    .bottom-nav a span {
      display: none; }

.ticker {
  position: relative;
  height: 36px;
  width: 594px;
  margin: auto;
  margin-top: 10px;
  background: url(/images/ticker.png) no-repeat center;
  padding-top: 10px; }
  .ticker a {
    text-decoration: none;
    text-align: center;
    width: 594px;
    height: 46px;
    display: block; }
    .ticker a.hide {
      display: none; }
    .ticker a span.date {
      color: #001d34;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.06em; }
      .ticker a span.date:hover {
        text-decoration: none; }
    .ticker a span.headline {
      color: #FFF;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.06em; }
      .ticker a span.headline:hover {
        text-decoration: underline; }
    .ticker a span.readmore {
      color: #52bfdb;
      font-family: helvetica;
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 0.03em;
      text-transform: uppercase; }
      .ticker a span.readmore:hover {
        text-decoration: none; }
