$powers-dark-blue: #012031;
$powers-blue: #013662;
$powers-light-blue: #95e4fc;

.middle {
  height: 411px;
  position: relative;
  background: #055189 url(/images/home-bg-repeat.jpg) repeat-x center;
  .home-content {
    width: 1024px;
    height: 409px;
    margin: auto;
    position: relative;
  }
}

.home-content {
	.home-image {
		float: left;
		clear: left;
		width: 312px;
		height: 380px;
		margin-left: 63px;
		margin-top: 3px;
		background: url(/images/home-image.png) no-repeat;
	}
	
	.home-about {
		float: left;
		width: 271px;
		height: 380px;
		padding-left: 10px;
		padding-right: 20px;
		margin-top: 3px;
		background: url(/images/home-about.png) no-repeat;
		
		h1 {
			color: $powers-dark-blue;
   			color: #012031;
   			font-size: 22px;
   			font-weight: 300;
   			line-height: 23px;
   			margin-bottom: 3px;
   			margin-top: 16px;
   			text-shadow: 0 1px 0 #81D6E9;
		}
		h2 {
   			 color: #FFFFFF;
   			 font-size: 17px;
   			 font-weight: 300;
   			 letter-spacing: 0.04em;
   			 line-height: 18px;
   			 margin-bottom: 3px;
   			 margin-top: 29px;
			p {
				margin-top: 0px;
				margin-bottom: 3px;
			}
		}
		.description p{
			color: #013662;
			font-family: helvetica;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
			margin-bottom: 3px;
			text-shadow: 0 1px 0 #97d6f1;
		}
		.description li{
			color: #013662;
			font-family: helvetica;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
			margin-bottom: 3px;
			margin-left: -50px;
			text-shadow: 0 1px 0 #97d6f1;
		}
		a.readmore{
			background: url(/images/read-more.png) no-repeat;
			position: absolute;
			width: 115px;
			height: 35px;
			display: block;
			float: right;
			top: 275px;
			left: 550px;
			span {
				display: none;
			}
			&:hover {
				background-position: 0 -35px;
				cursor: pointer;
			}
		}
	}
	
	.home-contact {
		float: left;
		clear: right;
		width: 245px;
		height: 380px;
		margin-left: 5px;
		margin-top: 3px;
		padding-left: 20px;
		padding-right: 20px;
		background: url(/images/home-contact.png) no-repeat;
		h3 {
			color: $powers-dark-blue;
			margin-top: 7px;
			margin-bottom: 15px;
			font-size: 14px;
		}
		.address {
			float: left;
			clear: both;
			color: $powers-light-blue;
			font-size: 13px;
			margin-bottom: 10px;
			span {
				float: left;
				clear: both;
			}
		}
		.numbers {
			float: left;
			clear: left;
			width: 165px;
			h4 {
				color: white;
				margin: 0px 0px 0px 0px;
				font-size: 13px;
				text-align: right;
			}
			.numbers-left {
				float: left;
				clear: left;
				width: 45px;
			}
			.numbers-right {
				float: left;
				clear: right;
				width: 115px;
				height: 50px;
				padding-left: 5px;
				color: $powers-dark-blue;
				font-size: 14px;
				span {
					float: left;
					clear: both;
					height: 18px;
				}
			}
		}
		.hours {
			float: left;
			clear: right;
			width: 80px;
			h4 {
				color: white;
				margin: 0px 0px 0px 0px;
				font-size: 13px;
				margin-bottom: 3px;
			}
			span {
					float: left;
					clear: both;
					height: 18px;
					color: $powers-dark-blue;
					font-size: 14px;
			}
		}
	}


}

.bottom-nav {
	margin: auto;
	width: 1024px;
	height: 23px;
	a {
		float: left;
		display: block;
		margin-top: -80px;
		&.business {
			clear: left;
			width: 279px;
			height: 110px;
			margin-left: 63px;
			background: url(/images/bottom-nav-business.png) no-repeat;
		}
		&.homeauto {
			width: 293px;
			height: 110px;
			background: url(/images/bottom-nav-homeauto.png) no-repeat;
		}
		&.benefits {
			width: 330px;
			height: 110px;
			clear: right;
			background: url(/images/bottom-nav-benefits.png) no-repeat;
		}
		&:hover {
			background-position: 0px -110px;
		}
		span {
			display: none;
		}
	}
}

.ticker {
	position: relative;
	height: 36px;
	width: 594px;
	margin: auto;
	margin-top: 10px;
	background: url(/images/ticker.png) no-repeat center;
	padding-top: 10px;
	a {
		text-decoration: none;
		text-align: center;
		width: 594px;
		height: 46px;
		display: block;
		&.hide {
			display: none;
		}
		span.date {
			color: #001d34;
			font-size: 13px;
    		font-weight: 700;
    		letter-spacing: 0.06em;
			
			&:hover {
				text-decoration: none;
			}
		}
		span.headline {
			color: #FFF;
			font-size: 15px;
			font-weight: 300;
			letter-spacing: 0.06em;
			&:hover {
				text-decoration: underline;
			}
		}
		span.readmore {
			color: #52bfdb;
    		font-family: helvetica;
    		font-size: 11px;
    		font-weight: bold;
    		letter-spacing: 0.03em;
   			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

