body {
  margin: 0px;
  background-color: #022336; }

.header {
  height: 122px;
  background: url(/images/header-repeat.jpg) repeat-x; }
  .header .nav {
    width: 1024px;
    height: 122px;
    margin: auto; }
    .header .nav a.logo {
      display: block;
      width: 269px;
      height: 113px;
      float: left;
      clear: left;
      margin-top: 10px;
      margin-left: 58px;
      background: url(/images/logo.png) no-repeat; }
    .header .nav .nav-right {
      width: 639px;
      height: 124px;
      float: left;
      clear: right; }
      .header .nav .nav-right .nav-top {
        width: 639px;
        height: 32px;
        float: left;
        clear: both; }
        .header .nav .nav-right .nav-top a.live-chat {
          display: block;
          background: url(/images/live-chat.png) no-repeat;
          width: 112px;
          margin-right: -2px;
          height: 26px;
          margin-top: 1px;
          float: right;
          clear: right; }
          .header .nav .nav-right .nav-top a.live-chat:hover {
            background-position: 0 -27px; }
        .header .nav .nav-right .nav-top a.contact {
          display: block;
          background: url(/images/contact.png) no-repeat;
          width: 112px;
          height: 26px;
          margin-top: 1px;
          float: right; }
          .header .nav .nav-right .nav-top a.contact:hover {
            background-position: 0 -27px; }
        .header .nav .nav-right .nav-top .toll-free {
          height: 32px;
          width: 270px;
          margin-top: 4px;
          float: right;
          letter-spacing: 1px;
          clear: left; }
          .header .nav .nav-right .nav-top .toll-free img.phone {
            clear: none;
            float: left;
            font-size: 15px;
            font-weight: 500;
            margin-top: 2px;
            margin-right: 4px; }
          .header .nav .nav-right .nav-top .toll-free h4 {
            clear: none;
            float: left;
            font-size: 13px;
            font-weight: 500;
            color: #52bfdb;
            margin-top: 3px; }
          .header .nav .nav-right .nav-top .toll-free span {
            clear: none;
            float: left;
            font-size: 13px;
            font-weight: 500;
            color: #ffffff;
            margin-left: 5px;
            letter-spacing: 1px;
            margin-top: 3px; }
      .header .nav .nav-right .nav-bottom {
        width: 639px;
        height: 92px;
        float: left;
        clear: both; }
        .header .nav .nav-right .nav-bottom .nav-tabs {
          width: 580px;
          height: 79px;
          float: right;
          clear: both;
          /*background: url(/images/header-nav-tabs-bg.png) no-repeat;*/ }
          .header .nav .nav-right .nav-bottom .nav-tabs a.tab {
            display: block;
            height: 72px;
            margin-top: 3.5px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab.home {
              width: 90px;
              height: 82px;
              float: left;
              background: url(/images/nav-home.png) no-repeat;
              margin-left: 12px; }
              .header .nav .nav-right .nav-bottom .nav-tabs a.tab.home:hover {
                background-position: 0px -82px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab.associates {
              width: 129px;
              height: 82px;
              float: left;
              background: url(/images/nav-associates.png) no-repeat; }
              .header .nav .nav-right .nav-bottom .nav-tabs a.tab.associates:hover {
                background-position: 0px -82px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab.affiliations {
              width: 142px;
              float: left;
              height: 82px;
              background: url(/images/nav-affiliations.png) no-repeat; }
              .header .nav .nav-right .nav-bottom .nav-tabs a.tab.affiliations:hover {
                background-position: 0px -82px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab.aboutus {
              width: 116px;
              float: left;
              height: 82px;
              background: url(/images/nav-aboutus.png) no-repeat; }
              .header .nav .nav-right .nav-bottom .nav-tabs a.tab.aboutus:hover {
                background-position: 0px -82px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab.blog {
              width: 91px;
              float: left;
              height: 82px;
              background: url(/images/nav-blog.png) no-repeat; }
              .header .nav .nav-right .nav-bottom .nav-tabs a.tab.blog:hover {
                background-position: 0px -82px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab:hover {
              background-position: 0px -72px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab.current {
              background-position: 0px -82px; }
            .header .nav .nav-right .nav-bottom .nav-tabs a.tab span {
              display: none; }

.bottom {
  height: 365px;
  position: relative;
  background-color: #022336; }
  .bottom .bottom-glow {
    height: 335px;
    margin: auto;
    padding-top: 30px;
    background: url(/images/bottom-glow.jpg) no-repeat center; }

.ticker {
  position: relative;
  width: 594px;
  height: 36px;
  margin: auto;
  padding-top: 10px;
  background: url(/images/ticker.png) no-repeat; }
  .ticker a {
    text-decoration: none;
    text-align: center;
    width: 594px;
    height: 36px;
    display: block; }
    .ticker a.hide {
      display: none; }
    .ticker a span.date {
      color: #000; }
      .ticker a span.date:hover {
        text-decoration: none; }
    .ticker a span.headline {
      color: #FFF; }
      .ticker a span.headline:hover {
        text-decoration: underline; }
    .ticker a span.readmore {
      color: #52bfdb; }
      .ticker a span.readmore:hover {
        text-decoration: none; }

.footer {
  position: relative;
  margin: auto;
  width: 594px;
  height: 46px;
  margin-top: 15px; }
  .footer .footer-links {
    position: relative;
    margin: auto;
    width: 518px;
    height: 21px;
    background: url(/images/footer.png) no-repeat;
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 10px;
    letter-spacing: 0.09em;
    text-align: center;
    padding-top: 5px; }
    .footer .footer-links a {
      color: #FFF;
      text-decoration: none; }
      .footer .footer-links a:hover {
        text-decoration: underline; }
    .footer .footer-links span {
      color: #FFF; }
  .footer .footer-contact {
    position: relative;
    margin: auto;
    width: 518px;
    margin-top: 5px;
    color: #3d9dbb;
    font-size: 11px;
    letter-spacing: 0.09em;
    text-align: center; }
  .footer .copy-right {
    position: relative;
    margin: auto;
    width: 518px;
    text-align: center;
    color: #347499;
    font-family: helvetica;
    font-size: 8px;
    margin-top: 2px; }
