body {
  margin: 0px; }

.header {
  width: 100%;
  height: 124px;
  float: left;
  clear: both;
  background: url(/images/header-repeat.jpg) repeat-x; }
  .header .nav {
    width: 1024px;
    height: 124px;
    margin: auto; }
    .header .nav a.logo {
      display: block;
      width: 269px;
      height: 113px;
      float: left;
      clear: left;
      margin-top: 10px;
      margin-left: 58px;
      background: url(/images/logo.png) no-repeat; }
    .header .nav .nav-right {
      width: 639px;
      height: 124px;
      float: left;
      clear: right; }
      .header .nav .nav-right .nav-top {
        width: 639px;
        height: 32px;
        float: left;
        clear: both; }
        .header .nav .nav-right .nav-top a.live-chat {
          display: block;
          width: 112px;
          height: 32px;
          float: right;
          clear: right; }
        .header .nav .nav-right .nav-top a.contact {
          display: block;
          width: 112px;
          height: 32px;
          float: right; }
        .header .nav .nav-right .nav-top .toll-free {
          height: 32px;
          width: 337px;
          float: right;
          clear: left; }
          .header .nav .nav-right .nav-top .toll-free img.phone {
            float: left;
            clear: left;
            margin-top: 8px; }
          .header .nav .nav-right .nav-top .toll-free h4 {
            float: left;
            clear: none;
            margin-top: 2px; }
      .header .nav .nav-right .nav-bottom {
        width: 639px;
        height: 92px;
        float: left;
        clear: both; }
        .header .nav .nav-right .nav-bottom .nav-tabs {
          width: 561px;
          height: 79px;
          float: right;
          clear: both;
          margin-top: 6.5px;
          background: url(/images/header-nav-tabs-bg.png) no-repeat; }

.home {
  width: 100%;
  height: 409px;
  float: left;
  clear: both;
  background: url(/images/home-bg-repeat.jpg) repeat-x; }
  .home .home-content {
    width: 1200px;
    height: 409px;
    background: url(/images/home-bg.jpg) no-repeat;
    margin: auto; }
