$powers-dark-blue: #012031;
$powers-blue: #013662;
$powers-light-blue: #95e4fc;


.headline {
	font-size: 14px;
	color: #044980;
	font-weight: 500;
}
body {
  margin: 0px;
  background-color: #022336;
}
span.powers {
    color: #133361;
    font-weight: 500;
    letter-spacing: .03em;
    font-size: 16px;
}
span.powers-small {
    color: #133361;
    font-weight: 500;
    letter-spacing: .03em;
    font-size: 13px;
}
span.sup-medium {
	vertical-align: super;
	font-size: 10px;
	margin-left: -3px;
}
span.sup-small {
	vertical-align: super;
	font-size: 8px;
	margin-left: -3px;
	line-height: 11px;
}
.header {
  height: 122px;
  background: url(/images/header-repeat.jpg) repeat-x;
  position: relative;
  .nav {
    width: 1024px;
    height: 122px;
    margin: auto;
    a.logo {
      display: block;
      position: relative;
      width: 269px;
      height: 113px;
      float: left;
      clear: left;
      margin-top: 10px;
      margin-left: 58px;
      background: url(/images/logo.png) no-repeat; }
    .nav-right {
      position: relative;
      width: 639px;
      height: 124px;
      float: left;
      clear: right;
      .nav-top {
      	position: relative;
        width: 639px;
        height: 32px;
        float: left;
        clear: both;
        a {
          position: relative;
          &.live-chat {
            display: block;
            background: url(/images/live-chat.png) no-repeat;
            width: 112px;
            margin-right: -2px;
            height: 26px;
            margin-top: 1px;
            float: right;
            clear: right;
            &:hover {
              background-position: 0 -27px; } }
          &.contact {
            display: block;
            background: url(/images/contact.png) no-repeat;
            width: 112px;
            height: 26px;
            margin-top: 1px;
            float: right;
            &:hover {
              background-position: 0 -27px;
            }
          }
        }
        .toll-free {
          height: 32px;
          width: 270px;
          position: relative;
          margin-top: 4px;
          float: right;
          letter-spacing: 1px;
          clear: left;
          img.phone {
          	position: relative;
            clear: none;
            float: left;
            font-size: 15px;
            font-weight: 500;
            margin-top: 2px;
            margin-right: 4px; }
          h4 {
          	position: relative;
            clear: none;
            float: left;
            font-size: 13px;
            font-weight: 500;
            color: #52bfdb;
            margin-top: 3px; }
          span {
          	position: relative;
            clear: none;
            float: left;
            font-size: 13px;
            font-weight: 500;
            color: #ffffff;
            margin-left: 5px;
            letter-spacing: 1px;
            margin-top: 3px; } } }
      .nav-bottom {
        width: 639px;
        height: 92px;
        position: relative;
        float: left;
        clear: both;
        .nav-tabs {
          position: relative;
          width: 580px;
          height: 79px;
          float: right;
          clear: both;
          /*background: url(/images/header-nav-tabs-bg.png) no-repeat;*/
          a.tab {
          	position: relative;
            display: block;
            height: 72px;
            margin-top: 3.5px;
            &.home {
              position: relative;
              width: 90px;
              height: 82px;
              float: left;
              background: url(/images/nav-home.png) no-repeat;
              margin-left: 12px;
              clear: left;
              &:hover {
                background-position: 0px -82px; } }
            &.associates {
              position: relative;
              width: 129px;
              height: 82px;
              float: left;
              background: url(/images/nav-associates.png) no-repeat;
              &:hover {
                background-position: 0px -82px; } }
            &.affiliations {
              position: relative;
              width: 142px;
              float: left;
              height: 82px;
              background: url(/images/nav-affiliations.png) no-repeat;
              &:hover {
                background-position: 0px -82px; } }
            &.carriers {
              position: relative;
              width: 112px;
              float: left;
              height: 82px;
              background: url(/images/nav-carriers.png) no-repeat;
              &:hover {
                background-position: 0px -82px; } }
            &.about {
              position: relative;
              width: 93px;
              float: left;
              height: 82px;
              background: url(/images/nav-aboutus.png) no-repeat;
              clear: right;
              &:hover {
                background-position: 0px -82px; } }
            &:hover {
              background-position: 0px -72px; }
            &.current {
				background-position: 0px -82px;
				&:hover {
				}
			}
            span {
              display: none; } } } } } } }



.bottom {
  height: 365px;
  position: relative;
  background-color: #022336;
	.bottom-glow {
		height: 335px;
		margin: auto;
		padding-top: 30px;
		background: url(/images/bottom-glow.jpg) no-repeat center;
	}
}

.ticker {
	position: relative;
	width: 594px;
	height: 36px;
	margin: auto;
	padding-top: 10px;
	background: url(/images/ticker.png) no-repeat;
	a {
		text-decoration: none;
		text-align: center;
		width: 594px;
		height: 36px;
		display: block;
		span.date {
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}
		span.headline {
			color: #FFF;
			&:hover {
				text-decoration: underline;
			}
		}
		span.readmore {
			color: #52bfdb;
			&:hover {
				text-decoration: none;
			}
		}
	}
}


.footer {
	position: relative;
	margin: auto;
	width: 594px;
	height: 46px;	
	margin-top: 15px;
	.footer-links {
		position: relative;
		margin: auto;
		width: 518px;
		height: 21px;
		background: url(/images/footer.png) no-repeat;
		color: #FFFFFF;
    	font-family: helvetica;
    	font-size: 10px;
    	letter-spacing: 0.09em;
    	text-align: center;
    	padding-top: 5px;
		a {
			color: #FFF;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		
		span {
			color: #FFF;
		}
	}
	.footer-contact {
		position: relative;
		margin: auto;
		width: 518px;
		margin-top: 5px;
		color: #3d9dbb;
    	font-size: 11px;
    	letter-spacing: 0.09em;
    	text-align: center;
	}
	.copy-right {
		position: relative;
		margin: auto;
		width: 518px;
		text-align: center;
		color: #347499;
		font-family: helvetica;
    	font-size: 8px;
    	margin-top: 2px;
	}
}
