.top-nav {
  height: 118px;
  background: url(/images/top-nav-bg-repeat.png) #ecebeb repeat-x; }
  .top-nav .three-button {
    width: 100%;
    height: 88px;
    margin: auto;
    padding-top: 30px;
    background: url(/images/top-nav-bg.jpg) no-repeat center; }
    .top-nav .three-button .three-button-center {
      width: 907px;
      position: relative;
      margin: auto; }
      .top-nav .three-button .three-button-center a {
        display: block;
        position: relative;
        float: left;
        padding-top: 20px; }
        .top-nav .three-button .three-button-center a.business {
          clear: left;
          width: 289px;
          height: 58px;
          margin-left: auto;
          background: url(/images/top-nav-business.png) no-repeat; }
        .top-nav .three-button .three-button-center a.homeauto {
          width: 289px;
          height: 58px;
          margin-left: 20px;
          background: url(/images/top-nav-homeauto.png) no-repeat; }
        .top-nav .three-button .three-button-center a.benefits {
          clear: right;
          width: 289px;
          height: 58px;
          margin-left: 20px;
          margin-right: auto;
          background: url(/images/top-nav-benefits.png) no-repeat; }
        .top-nav .three-button .three-button-center a:hover {
          background-position: 0px -78px; }
        .top-nav .three-button .three-button-center a.current {
          background-position: 0px -78px; }
        .top-nav .three-button .three-button-center a span {
          display: none; }

.middle-wrapper {
  background: #ecebeb;
  position: relative;
  width: 100%;
  padding-bottom: 35px; }
  .middle-wrapper .middle {
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 411px;
    width: 907px;
    margin: auto;
    position: relative;
    background-color: #ecebeb; }
    .middle-wrapper .middle .page-content {
      position: relative;
      width: 598px;
      margin-left: 308px;
      padding-top: 10px;
      padding-bottom: 10px; }

.floater {
  width: 238px;
  height: 323px;
  position: absolute;
  background: url(/images/floater-bg.png) no-repeat;
  margin-top: -10px;
  margin-left: 24px; }
  .floater h4 {
    margin-bottom: 18px;
    text-align: center; }
  .floater .homeauto a {
    display: block;
    position: relative;
    width: 208px;
    height: 42px;
    margin-left: 14px; }
    .floater .homeauto a.quote {
      background: url(/images/floatnav-ha-requestquote.png) no-repeat; }
    .floater .homeauto a.claim {
      background: url(/images/floatnav-ha-reportclaim.png) no-repeat; }
    .floater .homeauto a.autoid {
      background: url(/images/floatnav-ha-requestcards.png) no-repeat; }
    .floater .homeauto a.policy {
      background: url(/images/floatnav-ha-requestpolicy.png) no-repeat; }
    .floater .homeauto a.billing {
      background: url(/images/floatnav-ha-billing.png) no-repeat; }
    .floater .homeauto a:hover {
      background-position: 0px -41px; }
    .floater .homeauto a span {
      display: none; }
  .floater .business a {
    display: block;
    position: relative;
    width: 208px;
    height: 42px;
    margin-left: 14px; }
    .floater .business a.consultation {
      background: url(/images/floatnav-biz-requestconsult.png) no-repeat; }
    .floater .business a.claim {
      background: url(/images/floatnav-biz-reportclaim.png) no-repeat; }
    .floater .business a.policy {
      background: url(/images/floatnav-biz-requestpolicy.png) no-repeat; }
    .floater .business a.certificate {
      background: url(/images/floatnav-biz-requestcert.png) no-repeat; }
    .floater .business a.autoid {
      background: url(/images/floatnav-biz-requestcards.png) no-repeat; }
    .floater .business a.billing {
      background: url(/images/floatnav-biz-billinginfo.png) no-repeat; }
    .floater .business a:hover {
      background-position: 0px -41px; }
    .floater .business a span {
      display: none; }

.about-box {
  position: relative;
  width: 598px;
  min-height: 323px;
  margin-left: 308px;
  margin-top: -10px; }
  .about-box .about-box-top {
    width: 598px;
    height: 12px;
    position: relative;
    background: url(/images/about-box-top.png) no-repeat; }
  .about-box .about-box-content {
    background-color: #FFF;
    width: 561px;
    min-height: 258px;
    position: relative;
    padding-top: 5px;
    padding-left: 27px;
    padding-right: 10px;
    background: url(/images/about-box-content.png) repeat-y; }
    .about-box .about-box-content .column {
      width: 255px;
      padding-bottom: 10px; }
      .about-box .about-box-content .column.first {
        padding-right: 35px; }
  .about-box .about-box-separator {
    height: 2px;
    position: relative;
    background: url(/images/about-box-content.png) repeat-y;
    display: none; }
    .about-box .about-box-separator img {
      display: block;
      position: relative;
      height: 2px;
      width: 590px;
      margin: auto; }
  .about-box .viewcomments {
    background-color: #FFF;
    position: relative;
    background: url(/images/about-box-content.png) repeat-y;
    color: #438bc3;
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    font-family: "museo-1","museo-2",serif; }
    .about-box .viewcomments span.showcomments {
      display: inline; }
    .about-box .viewcomments span.hidecomments {
      display: none; }
    .about-box .viewcomments:hover {
      cursor: pointer; }
  .about-box .comments {
    background-color: #FFF;
    width: 561px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 27px;
    padding-right: 10px;
    background: url(/images/about-box-content.png) repeat-y; }
    .about-box .comments .fb_iframe_widget {
      display: none; }
  .about-box h1 {
    font-size: 18px;
    padding-top: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #438bc3; }
  .about-box h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #346d8d; }
  .about-box p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    color: #013662;
    font-size: 14px; }
    .about-box p > em:first-child {
      color: #a2a1a1;
      font-size: 17px;
      display: block;
      padding-bottom: 10px; }
  .about-box .about-box-bottom {
    width: 598px;
    height: 53px;
    position: relative;
    background: url(/images/about-box-bottom.png) no-repeat;
    background-color: #FFF; }
    .about-box .about-box-bottom .like {
      float: left;
      clear: both;
      width: 548px;
      height: 25px;
      margin-top: 13px;
      margin-left: 25px;
      overflow: hidden; }
      .about-box .about-box-bottom .like .fb_iframe_widget {
        float: left;
        clear: both;
        width: 548px;
        height: 75px; }

.company-bg {
  background: url(/images/company-partial-bg.jpg) no-repeat;
  height: 109px;
  width: 586px; }
  .company-bg .company-logo {
    height: 85px;
    width: 187px;
    float: left;
    clear: left;
    padding-top: 24px;
    padding-left: 28px; }
    .company-bg .company-logo img {
      width: 159px;
      height: 61px; }
  .company-bg .company-right {
    height: 109px;
    width: 371px;
    float: left;
    clear: right; }
    .company-bg .company-right .company-name {
      height: 25px;
      width: 371px;
      float: left;
      clear: both;
      padding-top: 10px;
      text-align: center; }

.company-admin {
  height: 115px;
  width: 586px; }
  .company-admin .company-info {
    float: left;
    clear: left;
    height: 115px;
    width: 500px; }
    .company-admin .company-info .company-homeauto {
      height: 75px;
      width: 250px;
      float: left;
      clear: left; }
    .company-admin .company-info .company-business {
      height: 75px;
      width: 250px;
      float: left; }
  .company-admin .company-actions {
    text-align: right;
    height: 90px;
    width: 86px;
    padding-top: 10px;
    float: left;
    clear: right; }
