$powers-dark-blue: #012031;
$powers-blue: #013662;
$powers-light-blue: #95e4fc;

.top-nav {
	height: 118px;
	background-color: #ecebeb;
	.three-button {
		width: 1200px;
		height: 77px;
		margin: auto;
		background: url(/images/top-nav-bg.png) no-repeat;
		a {
			display: block;
			position: relative;
			float: left;
			padding-top: 20px;
			&.business {
				clear: left;
				width: 288px;
				height: 80px;
				margin-left: 158px;
				background: url(/images/top-nav-business.png) no-repeat;
			}
			&.homeauto {
				width: 288px;
				height: 80px;
				margin-left: 20px;
				background: url(/images/top-nav-homeauto.png) no-repeat;
			}
			&.benefits {
				clear: right;
				width: 288px;
				height: 80px;
				margin-left: 20px;
				background: url(/images/top-nav-benefits.png) no-repeat;
			}
			&:hover {
				background-position: 0px -80px;
			}
			span {
				display: none;
			}
		}
	}
}

.middle {
	padding-top: 20px;
	padding-bottom: 40px;
	min-height: 411px;
	position: relative;
	background-color: #ecebeb;
}

.floater {
	width: 238px;
	height: 323px;
	position: absolute;
	background: url(/images/floater-bg.png) no-repeat;
	margin-left: 515px;
	margin-top: -10px;
}

.about-box {
	position: relative;
	width: 598px;
	min-height: 323px;
	margin-left: 808px;
	margin-top: -10px;
	.about-box-top {
		width: 598px;
		height: 12px;
		position: relative;
		background: url(/images/about-box-top.png) no-repeat;
	}
	.about-box-content {
		background-color: #FFF;
		width: 561px;
		min-height: 258px;
		position: relative;
		padding-top: 5px;
		padding-left: 27px;
		padding-right: 10px;
		background: url(/images/about-box-content.png) repeat-y;
		.column {
			width: 255px;
			padding-bottom: 10px;
			&.first {
				padding-right: 35px;
			}
		}
	}
	.comments {
		background-color: #FFF;
		width: 561px;
		position: relative;
		padding-top: 5px;
		padding-bottom: 30px;
		padding-left: 27px;
		padding-right: 10px;
		background: url(/images/about-box-content.png) repeat-y;
		.viewcomments {
			color: #438bc3;
			text-decoration: none;
			margin-bottom: 5px;
			&:hover {
				cursor: pointer;
			}
		}
		.fb_iframe_widget {
			display: none;
		}
	}
	h1 {
		font-size: 18px;
		padding-top: 3px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #438bc3;
	}
	h2 {
		font-size: 16px;
		padding-bottom: 5px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #346d8d;
	}
	p {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 12px;
		color: #013662;
		font-size: 14px;
		&> em:first-child {
			color: #a2a1a1;
			font-size: 17px;
			display: block;
			padding-bottom: 10px;
		}
	}
	.about-box-bottom {
		width: 598px;
		height: 53px;
		position: relative;
		background: url(/images/about-box-bottom.png) no-repeat;
		background-color: #FFF;
		.like {
			float: left;
			clear: both;
			width: 548px;
			height: 25px;
			margin-top: 13px;
			margin-left: 25px;
			overflow: hidden;
			.fb_iframe_widget {
				float: left;
				clear: both;
				width: 548px;
				height: 75px;
			}
		}
	}
}

.ticker {
	float: left;
	clear: both;
	width: 594px;
	height: 46px;
	margin-left: 317px;
	margin-top: 30px;
	background: url(/images/ticker.png) no-repeat;
	a {
		text-decoration: none;
		text-align: center;
		margin-top: 10px;
		width: 594px;
		height: 36px;
		display: block;
		&.hide {
			display: none;
		}
		span.date {
			color: #000;
			&:hover {
				text-decoration: none;
			}
		}
		span.headline {
			color: #FFF;
			&:hover {
				text-decoration: underline;
			}
		}
		span.readmore {
			color: #52bfdb;
			&:hover {
				text-decoration: none;
			}
		}
	}
}