.top-nav {
  height: 118px;
  background: url(/images/top-nav-bg-repeat.png) #ecebeb repeat-x; }
  .top-nav .three-button {
    width: 100%;
    height: 88px;
    margin: auto;
    padding-top: 30px;
    background: url(/images/top-nav-bg.jpg) no-repeat center; }
    .top-nav .three-button .three-button-center {
      width: 907px;
      position: relative;
      margin: auto; }
      .top-nav .three-button .three-button-center a {
        display: block;
        position: relative;
        float: left;
        padding-top: 20px; }
        .top-nav .three-button .three-button-center a.business {
          clear: left;
          width: 289px;
          height: 58px;
          margin-left: auto;
          background: url(/images/top-nav-business.png) no-repeat; }
        .top-nav .three-button .three-button-center a.homeauto {
          width: 289px;
          height: 58px;
          margin-left: 20px;
          background: url(/images/top-nav-homeauto.png) no-repeat; }
        .top-nav .three-button .three-button-center a.benefits {
          clear: right;
          width: 289px;
          height: 58px;
          margin-left: 20px;
          margin-right: auto;
          background: url(/images/top-nav-benefits.png) no-repeat; }
        .top-nav .three-button .three-button-center a:hover {
          background-position: 0px -78px; }
        .top-nav .three-button .three-button-center a.current {
          background-position: 0px -78px; }
        .top-nav .three-button .three-button-center a span {
          display: none; }

.middle-wrapper {
  background: #ecebeb;
  position: relative;
  width: 100%;
  padding-bottom: 35px; }
  .middle-wrapper .middle {
    padding-top: 20px;
    padding-bottom: 40px;
    min-height: 411px;
    width: 907px;
    margin: auto;
    position: relative;
    background-color: #ecebeb; }
    .middle-wrapper .middle .page-content {
      position: relative;
      width: 598px;
      margin-left: 308px;
      padding-top: 10px;
      padding-bottom: 10px; }

.floater {
  width: 238px;
  height: 323px;
  position: absolute;
  background: url(/images/floater-bg.png) no-repeat;
  margin-top: -10px;
  margin-left: 24px; }
  .floater h4 {
    color: #012031;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 14px;
    margin-top: 14px;
    text-align: center;
    text-shadow: 0 1px 0 #81D6E8; }
  .floater .homeauto a {
    display: block;
    position: relative;
    width: 208px;
    height: 42px;
    margin-left: 14px; }
    .floater .homeauto a.quote {
      background: url(/images/floatnav-ha-requestquote.png) no-repeat; }
    .floater .homeauto a.claim {
      background: url(/images/floatnav-ha-reportclaim.png) no-repeat; }
    .floater .homeauto a.autoid {
      background: url(/images/floatnav-ha-requestcards.png) no-repeat; }
    .floater .homeauto a.policy {
      background: url(/images/floatnav-ha-requestpolicy.png) no-repeat; }
    .floater .homeauto a.billing {
      background: url(/images/floatnav-ha-billing.png) no-repeat; }
    .floater .homeauto a:hover {
      background-position: 0px -41px; }
    .floater .homeauto a span {
      display: none; }
  .floater .business a {
    display: block;
    position: relative;
    width: 208px;
    height: 42px;
    margin-left: 14px; }
    .floater .business a.consultation {
      background: url(/images/floatnav-biz-requestconsult.png) no-repeat; }
    .floater .business a.claim {
      background: url(/images/floatnav-biz-reportclaim.png) no-repeat; }
    .floater .business a.policy {
      background: url(/images/floatnav-biz-requestpolicy.png) no-repeat; }
    .floater .business a.certificate {
      background: url(/images/floatnav-biz-requestcert.png) no-repeat; }
    .floater .business a.autoid {
      background: url(/images/floatnav-biz-requestcards.png) no-repeat; }
    .floater .business a.billing {
      background: url(/images/floatnav-biz-billinginfo.png) no-repeat; }
    .floater .business a:hover {
      background-position: 0px -41px; }
    .floater .business a span {
      display: none; }

.about-box {
  position: relative;
  width: 598px;
  min-height: 323px;
  margin-left: 308px;
  margin-top: -10px; }
  .about-box .about-box-top {
    width: 598px;
    height: 12px;
    position: relative;
    background: url(/images/about-box-top.png) no-repeat; }
  .about-box .about-box-content {
    background-color: #FFF;
    width: 561px;
    min-height: 258px;
    position: relative;
    padding-top: 5px;
    padding-left: 27px;
    padding-right: 10px;
    background: url(/images/about-box-content.png) repeat-y; }
    .about-box .about-box-content .column {
      width: 255px;
      padding-bottom: 10px; }
      .about-box .about-box-content .column.first {
        padding-right: 35px; }
  .about-box .about-box-separator {
    height: 2px;
    position: relative;
    background: url(/images/about-box-content.png) repeat-y;
    display: none; }
    .about-box .about-box-separator img {
      display: block;
      position: relative;
      height: 2px;
      width: 590px;
      margin: auto; }
  .about-box .viewcomments {
    background-color: #FFF;
    position: relative;
    background: url(/images/about-box-content.png) repeat-y;
    color: #438bc3;
    text-decoration: none;
    text-align: right;
    padding-right: 20px;
    font-family: "museo-1","museo-2",serif; }
    .about-box .viewcomments span.showcomments {
      display: inline; }
    .about-box .viewcomments span.hidecomments {
      display: none; }
    .about-box .viewcomments:hover {
      cursor: pointer; }
  .about-box .comments {
    background-color: #FFF;
    width: 561px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 27px;
    padding-right: 10px;
    background: url(/images/about-box-content.png) repeat-y; }
    .about-box .comments .fb_iframe_widget {
      display: none; }
  .about-box h1 {
    font-size: 20px;
    padding-top: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #438bc3;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: 300; }
  .about-box h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #346d8d; }
  .about-box p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    color: #013662;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFFFFF; }
    .about-box p > em:first-child {
      color: #a2a1a1;
      font-size: 19px;
      display: block;
      padding-bottom: 10px;
      font-weight: 100; }
  .about-box .about-box-bottom {
    width: 598px;
    height: 53px;
    position: relative;
    background: url(/images/about-box-bottom.png) no-repeat;
    background-color: #FFF; }
    .about-box .about-box-bottom .like {
      float: left;
      clear: both;
      width: 548px;
      height: 25px;
      margin-top: 13px;
      margin-left: 25px;
      overflow: hidden; }
      .about-box .about-box-bottom .like .fb_iframe_widget {
        float: left;
        clear: both;
        width: 548px;
        height: 75px; }

.companies h1 {
  margin-bottom: 0px; }
.companies a {
  text-decoration: none; }
.companies .admin-links {
  height: 35px;
  width: 556px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px; }
  .companies .admin-links .toggle-showing {
    float: left;
    clear: both;
    height: 20px;
    width: 150px;
    text-align: left; }
  .companies .admin-links .new {
    float: left;
    clear: both;
    text-align: left; }
.companies .company-box {
  height: 99px;
  width: 586px;
  position: relative;
  margin-bottom: 15px; }
  .companies .company-box .company-bg {
    background: url(/images/company-partial-bg.jpg) no-repeat;
    height: 109px;
    width: 586px; }
    .companies .company-box .company-bg .company-logo {
      height: 85px;
      width: 187px;
      float: left;
      clear: left;
      padding-top: 24px;
      padding-left: 28px; }
      .companies .company-box .company-bg .company-logo img {
        width: 159px;
        height: 61px; }
    .companies .company-box .company-bg .company-right {
      height: 109px;
      width: 371px;
      float: left;
      clear: right; }
      .companies .company-box .company-bg .company-right .company-name {
        height: 25px;
        width: 371px;
        float: left;
        clear: both;
        padding-top: 10px;
        text-align: center; }
      .companies .company-box .company-bg .company-right .company-billing {
        height: 25px;
        width: 296px;
        float: left;
        clear: both;
        padding-top: 10px;
        padding-left: 75px; }
      .companies .company-box .company-bg .company-right .company-claim {
        height: 25px;
        width: 296px;
        float: left;
        clear: both;
        padding-top: 10px;
        padding-left: 75px; }
.companies .company-admin {
  width: 586px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  font-size: 12px; }
  .companies .company-admin.show {
    height: 250px; }
  .companies .company-admin h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 5px;
    padding-top: 5px;
    display: inline;
    float: left;
    clear: left; }
  .companies .company-admin .company-actions {
    height: 20px;
    padding-top: 5px;
    float: right;
    clear: right;
    font-size: 12px;
    font-family: "museo-1","museo-2",serif; }
    .companies .company-admin .company-actions a {
      color: blue; }
    .companies .company-admin .company-actions .company-view {
      float: left;
      clear: left;
      padding-top: 5px;
      margin-right: 7px;
      text-align: right;
      color: blue; }
      .companies .company-admin .company-actions .company-view:hover {
        cursor: pointer; }
    .companies .company-admin .company-actions .company-edit {
      float: left;
      padding-top: 5px;
      margin-right: 7px;
      text-align: right; }
    .companies .company-admin .company-actions .company-delete {
      float: left;
      clear: right;
      padding-top: 5px;
      text-align: right; }
  .companies .company-admin .company-info {
    float: left;
    clear: both;
    height: 220px;
    width: 586px;
    font-size: 12px; }
    .companies .company-admin .company-info .biz {
      float: left;
      clear: left;
      height: 210px;
      width: 282px;
      padding-left: 10px;
      padding-bottom: 5px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      border-top: 1px solid black; }
    .companies .company-admin .company-info .ha {
      float: left;
      clear: right;
      height: 210px;
      width: 281px;
      padding-left: 10px;
      padding-bottom: 5px;
      border: 1px solid black; }
    .companies .company-admin .company-info h3 {
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .companies .company-admin .company-info h4 {
      margin-left: 0px;
      margin-top: 5px;
      margin-bottom: 5px; }
    .companies .company-admin .company-info .left {
      width: 103px;
      height: 70px;
      float: left;
      clear: left; }
    .companies .company-admin .company-info .right {
      width: 170px;
      height: 70px;
      float: right;
      clear: right; }
      .companies .company-admin .company-info .right .claim span {
        margin-left: -10px;
        margin-bottom: 2px; }
      .companies .company-admin .company-info .right .billing span {
        margin-left: -10px;
        margin-bottom: 2px; }
    .companies .company-admin .company-info .claim {
      width: 100%;
      height: 35px;
      margin-left: 10px; }
      .companies .company-admin .company-info .claim span {
        width: 100%;
        float: left;
        clear: both;
        margin-left: -5px; }
    .companies .company-admin .company-info .billing {
      width: 100%;
      height: 35px;
      margin-left: 10px; }
      .companies .company-admin .company-info .billing span {
        width: 100%;
        float: left;
        clear: both;
        margin-left: -5px; }

.formtop {
  width: 598px;
  height: 12px;
  position: relative;
  background: url(/images/about-box-top.png) no-repeat; }

.form {
  background-color: #FFF;
  width: 550px;
  min-height: 258px;
  position: relative;
  padding-top: 5px;
  padding-left: 27px;
  padding-right: 20px;
  background: url(/images/about-box-content.png) repeat-y; }
  .form .field {
    background: url(/images/field-divider.jpg) bottom no-repeat;
    position: relative;
    margin-bottom: 6px;
    width: 400px;
    height: 33px; }
    .form .field input {
      background: #e2e1e1;
      border: 0;
      float: right;
      padding: 6px;
      color: #013662; }
      .form .field input:hover {
        background: #f5f5f5; }
      .form .field input:focus {
        background: #f5f5f5; }
    .form .field label {
      color: #545352;
      font-family: helvetica;
      font-size: 13px;
      letter-spacing: 0.03em;
      margin-right: 16px;
      text-shadow: 0 1px 0 #FFFFFF; }
  .form .next-prev-buttons {
    width: 598px;
    height: 53px;
    position: relative;
    background: url(/images/about-box-bottom.png) no-repeat;
    background-color: #FFF;
    margin-left: -27px;
    margin-top: 55px; }

.consult_form h3 {
  color: #438BC3;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 3px;
  text-shadow: 0 1px 0 #FFFFFF; }
.consult_form h4 {
  color: #013662;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 1px 0 #FFFFFF; }
.consult_form p {
  color: #013662;
  font-weight: 300;
  font-size: 13px;
  text-shadow: 0 1px 0 #FFFFFF; }
