.top-nav {
  height: 118px;
  background-color: #ecebeb; }
  .top-nav .three-button {
    width: 1200px;
    height: 77px;
    margin: auto;
    background: url(/images/top-nav-bg.png) no-repeat; }
    .top-nav .three-button a {
      display: block;
      position: relative;
      float: left;
      padding-top: 20px; }
      .top-nav .three-button a.business {
        clear: left;
        width: 288px;
        height: 80px;
        margin-left: 158px;
        background: url(/images/top-nav-business.png) no-repeat; }
      .top-nav .three-button a.homeauto {
        width: 288px;
        height: 80px;
        margin-left: 20px;
        background: url(/images/top-nav-homeauto.png) no-repeat; }
      .top-nav .three-button a.benefits {
        clear: right;
        width: 288px;
        height: 80px;
        margin-left: 20px;
        background: url(/images/top-nav-benefits.png) no-repeat; }
      .top-nav .three-button a:hover {
        background-position: 0px -80px; }
      .top-nav .three-button a span {
        display: none; }

.middle {
  padding-top: 20px;
  padding-bottom: 40px;
  min-height: 411px;
  position: relative;
  background-color: #ecebeb; }

.floater {
  width: 238px;
  height: 323px;
  position: absolute;
  background: url(/images/floater-bg.png) no-repeat;
  margin-left: 515px;
  margin-top: -10px; }

.about-box {
  position: relative;
  width: 598px;
  min-height: 323px;
  margin-left: 808px;
  margin-top: -10px; }
  .about-box .about-box-top {
    width: 598px;
    height: 12px;
    position: relative;
    background: url(/images/about-box-top.png) no-repeat; }
  .about-box .about-box-content {
    background-color: #FFF;
    width: 561px;
    min-height: 258px;
    position: relative;
    padding-top: 5px;
    padding-left: 27px;
    padding-right: 10px;
    background: url(/images/about-box-content.png) repeat-y; }
    .about-box .about-box-content .column {
      width: 255px;
      padding-bottom: 10px; }
      .about-box .about-box-content .column.first {
        padding-right: 35px; }
  .about-box .comments {
    background-color: #FFF;
    width: 561px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 27px;
    padding-right: 10px;
    background: url(/images/about-box-content.png) repeat-y; }
    .about-box .comments .viewcomments {
      color: #438bc3;
      text-decoration: none;
      margin-bottom: 5px; }
      .about-box .comments .viewcomments:hover {
        cursor: pointer; }
    .about-box .comments .fb_iframe_widget {
      display: none; }
  .about-box h1 {
    font-size: 18px;
    padding-top: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #438bc3; }
  .about-box h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #346d8d; }
  .about-box p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 12px;
    color: #013662;
    font-size: 14px; }
    .about-box p > em:first-child {
      color: #a2a1a1;
      font-size: 17px;
      display: block;
      padding-bottom: 10px; }
  .about-box .about-box-bottom {
    width: 598px;
    height: 53px;
    position: relative;
    background: url(/images/about-box-bottom.png) no-repeat;
    background-color: #FFF; }
    .about-box .about-box-bottom .like {
      float: left;
      clear: both;
      width: 548px;
      height: 25px;
      margin-top: 13px;
      margin-left: 25px;
      overflow: hidden; }
      .about-box .about-box-bottom .like .fb_iframe_widget {
        float: left;
        clear: both;
        width: 548px;
        height: 75px; }

.ticker {
  float: left;
  clear: both;
  width: 594px;
  height: 46px;
  margin-left: 317px;
  margin-top: 30px;
  background: url(/images/ticker.png) no-repeat; }
  .ticker a {
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    width: 594px;
    height: 36px;
    display: block; }
    .ticker a.hide {
      display: none; }
    .ticker a span.date {
      color: #000; }
      .ticker a span.date:hover {
        text-decoration: none; }
    .ticker a span.headline {
      color: #FFF; }
      .ticker a span.headline:hover {
        text-decoration: underline; }
    .ticker a span.readmore {
      color: #52bfdb; }
      .ticker a span.readmore:hover {
        text-decoration: none; }
