$powers-dark-blue: #012031;
$powers-blue: #013662;
$powers-light-blue: #95e4fc;

.top-nav {
	height: 118px;
	background: url(/images/top-nav-bg-repeat.png) #ecebeb repeat-x;
	.three-button {
		width: 100%;
		height: 88px;
		margin: auto;
		padding-top: 30px;
		background: url(/images/top-nav-bg.jpg) no-repeat center;
		.three-button-center{
			width: 907px;
			position: relative;
			margin: auto;
			a {
				display: block;
				position: relative;
				float: left;
				padding-top: 20px;
				&.business {
					clear: left;
					width: 289px;
					height: 58px;
					margin-left: auto;
					background: url(/images/top-nav-business.png) no-repeat;
				}
				&.homeauto {
					width: 289px;
					height: 58px;
					margin-left: 20px;
					background: url(/images/top-nav-homeauto.png) no-repeat;
				}
				&.benefits {
					clear: right;
					width: 289px;
					height: 58px;
					margin-left: 20px;
					margin-right: auto;
					background: url(/images/top-nav-benefits.png) no-repeat;
				}
				&:hover {
					background-position: 0px -78px;
				}
				&.current {
					background-position: 0px -78px;
					&:hover {
					}
				}
				span {
					display: none;
				}
			}
		}
	}
}

.middle-wrapper {
	background: #ecebeb;
	position: relative;
	width: 100%;
	padding-bottom: 35px;
	.middle {
		padding-top: 20px;
		padding-bottom: 40px;
		min-height: 411px;
		width: 907px;
		margin: auto;		
		position: relative;
		background-color: #ecebeb;
		.page-content {
			position: relative;
			width: 598px;
			margin-left: 308px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.floater {
	width: 238px;
	height: 323px;
	position: absolute;
	background: url(/images/floater-bg.png) no-repeat;
	margin-top: -10px;
	margin-left: 24px;
	h4 {
    	color: #012031;
    	font-size: 23px;
    	font-weight: 300;
    	margin-bottom: 14px;
    	margin-top: 14px;
    	text-align: center;
    	text-shadow: 0 1px 0 #81D6E8;
	}
	.homeauto {
		a {
			display: block;
			position: relative;
			width: 208px;
			height: 42px;
			margin-left: 14px;
			&.quote {
				background: url(/images/floatnav-ha-requestquote.png) no-repeat;
			}
			&.claim {
				background: url(/images/floatnav-ha-reportclaim.png) no-repeat;
			}
			&.autoid {
				background: url(/images/floatnav-ha-requestcards.png) no-repeat;
			}
			&.policy {
				background: url(/images/floatnav-ha-requestpolicy.png) no-repeat;
			}
			&.billing {
				background: url(/images/floatnav-ha-billing.png) no-repeat;
			}
			&:hover {
				background-position: 0px -41px;
			}
			span {
				display: none;
			}
		}
	}
	.business {
		a {
			display: block;
			position: relative;
			width: 208px;
			height: 42px;
			margin-left: 14px;
			&.consultation {
				background: url(/images/floatnav-biz-requestconsult.png) no-repeat;
			}
			&.claim {
				background: url(/images/floatnav-biz-reportclaim.png) no-repeat;
			}
			&.policy {
				background: url(/images/floatnav-biz-requestpolicy.png) no-repeat;
			}
			&.certificate {
				background: url(/images/floatnav-biz-requestcert.png) no-repeat;
			}
			&.autoid {
				background: url(/images/floatnav-biz-requestcards.png) no-repeat;
			}
			&.billing {
				background: url(/images/floatnav-biz-billinginfo.png) no-repeat;
			}
			&:hover {
				background-position: 0px -41px;
			}
			span {
				display: none;
			}
		}
	}
}

.about-box {
	position: relative;
	width: 598px;
	min-height: 323px;
	margin-left: 308px;
	margin-top: -10px;
	.about-box-top {
		width: 598px;
		height: 12px;
		position: relative;
		background: url(/images/about-box-top.png) no-repeat;
	}
	.about-box-content {
		background-color: #FFF;
		width: 561px;
		min-height: 258px;
		position: relative;
		padding-top: 5px;
		padding-left: 27px;
		padding-right: 10px;
		background: url(/images/about-box-content.png) repeat-y;
		.column {
			width: 255px;
			padding-bottom: 10px;
			&.first {
				padding-right: 35px;
			}
		}
	}
	
	.about-box-separator {
		height: 2px;
		position: relative;
		background: url(/images/about-box-content.png) repeat-y;
		display: none;
		img {
			display: block;
			position: relative;
			height: 2px;
			width: 590px;
			margin: auto;
		}
	}

	.viewcomments {
		background-color: #FFF;
		position: relative;
		background: url(/images/about-box-content.png) repeat-y;
		color: #438bc3;
		text-decoration: none;
		text-align: right;
		padding-right: 20px;
		font-family: "museo-1","museo-2",serif;
		span {
			&.showcomments {
				display: inline;
			}
			&.hidecomments {
				display: none;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	
	
	.comments {
		background-color: #FFF;
		width: 561px;
		position: relative;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 27px;
		padding-right: 10px;
		background: url(/images/about-box-content.png) repeat-y;
		
		.fb_iframe_widget {
			display: none;
		}
		.showcomments {
		
		}
	}
	h1 {
		font-size: 20px;
		padding-top: 3px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #438bc3;
		text-shadow: 0 1px 0 #FFFFFF;
		font-weight: 300;
	}
	h2 {
		font-size: 16px;
		padding-bottom: 5px;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #346d8d;
	}
	p {
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 12px;
		color: #013662;
		font-size: 12px;
		text-shadow: 0 1px 0 #FFFFFF;
		&> em:first-child {
			color: #a2a1a1;
			font-size: 19px;
			display: block;
			padding-bottom: 10px;
			font-weight: 100;
		}
	}
	.about-box-bottom {
		width: 598px;
		height: 53px;
		position: relative;
		background: url(/images/about-box-bottom.png) no-repeat;
		background-color: #FFF;
		.like {
			float: left;
			clear: both;
			width: 548px;
			height: 25px;
			margin-top: 13px;
			margin-left: 25px;
			overflow: hidden;
			.fb_iframe_widget {
				float: left;
				clear: both;
				width: 548px;
				height: 75px;
			}
		}
	}
}

.companies {
	h1 {
		margin-bottom: 0px;
	}
	a {
		text-decoration: none;
	}
	.business {
	
	}
	.homeauto {
	
	}
	
	.admin-links {
		height: 35px;
		width: 556px;
		position: relative;
		padding-left: 30px;
		margin-bottom: 40px;
		.toggle-showing {
			float: left;
			clear: both;
			height: 20px;
			width: 150px;
			text-align: left;
		}
		.new {
			float: left;
			clear: both;
			text-align: left;
		}
	}
	
	.company-box {
		height: 99px;
		width: 586px;
		position: relative;
		margin-bottom: 15px;
		.company-bg {
			background: url(/images/company-partial-bg.jpg) no-repeat;
			height: 109px;
			width: 586px;
			.company-logo {
				height: 85px;
				width: 187px;
				float: left;
				clear: left;
				padding-top: 24px;
				padding-left: 28px;
				img {
					width: 159px;
					height: 61px;
				}
			}
			.company-right {
				height: 109px;
				width: 371px;
				float: left;
				clear: right;
				.company-name {
					height: 25px;
					width: 371px;
					float: left;
					clear: both;
					padding-top: 10px;
					text-align: center;
				}
					
				.company-billing {
					height: 25px;
					width: 296px;
					float: left;
					clear: both;
					padding-top: 10px;
					padding-left: 75px;
				    .phone-one {
				    
				    }
				    .phone-two {
				    
				    }
				}
				.company-claim {
					height: 25px;
					width: 296px;
					float: left;
					clear: both;
					padding-top: 10px;
					padding-left: 75px;
				    .phone-one {
				    
				    }
				    .phone-two {
				    
				    }
				}
				
			}
		}	
	}

	.company-admin {
		width: 586px;
		height: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
		position: relative;
		font-size: 12px;
		&.show {
			height: 250px;
		}
		h2 {
			margin-bottom: 0px;
			margin-top: 0px;
			padding-left: 5px;
			padding-top: 5px;
			display: inline;
			float: left;
			clear: left;
		}
		.company-actions {
		    height: 20px;
		    padding-top: 5px;
		    float: right;
		    clear: right;
		    font-size: 12px;
		    font-family: "museo-1","museo-2",serif;
		    
		    a {
		    	color: blue;
		    }
		    
		    .company-view {
		    	float: left;
		    	clear:left;
		    	padding-top: 5px;		    	
		    	margin-right: 7px;
		    	text-align: right;
		    	color: blue;
		    	.admintoggle {
		    		
		    		
		    	}
		    	&:hover {
		    		cursor: pointer;
		    	}
		    }
		    .company-edit {
		    	float: left;
		    	padding-top: 5px;
		    	margin-right: 7px;
		    	text-align: right;
		    }
		    .company-delete {
		    	float: left;
		    	clear: right;
		    	padding-top: 5px;
		    	text-align: right;
		    }
		}
		.company-info {
			float: left;
			clear: both;
			height: 220px;
			width: 586px;
			font-size: 12px;
			.biz {
				float: left;
				clear: left;
				height: 210px;
				width: 282px;
				padding-left: 10px;
				padding-bottom: 5px;
				border-left: 1px solid black;
				border-bottom: 1px solid black;
				border-top: 1px solid black;
			}
			.ha {
				float: left;
				clear: right;
				height: 210px;
				width: 281px;
				padding-left: 10px;
				padding-bottom: 5px;
				border: 1px solid black;
			}
			
			h3 {
				margin-left: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
			}
			h4 {
				margin-left: 0px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
			
			.left {
				width: 103px;
				height: 70px;
				float: left;
				clear: left;
			}
			
			.right {
				width: 170px;
				height: 70px;
				float: right;
				clear: right;
				.claim {
					span {
						margin-left: -10px;
						margin-bottom: 2px;
					}
				}
				.billing {
					span {
						margin-left: -10px;
						margin-bottom: 2px;
					}
				}
			}
			
			.claim {
			    width: 100%;
			    height: 35px;
			    margin-left: 10px;
			    span {
			    	width: 100%;
			    	float: left;
			    	clear: both;
			    	margin-left: -5px;
			    }
			}
			.billing {
			    width: 100%;
			    height: 35px;
			    margin-left: 10px;
			    span {
			    	width: 100%;
			    	float: left;
			    	clear: both;
			    	margin-left: -5px;
			    }
			}
		}		
	}
}
.formtop {
	width: 598px;
	height: 12px;
	position: relative;
	background: url(/images/about-box-top.png) no-repeat;
}
.form{
	background-color: #FFF;
	width: 550px;
	min-height: 258px;
	position: relative;
	padding-top: 5px;
	padding-left: 27px;
	padding-right: 20px;
	background: url(/images/about-box-content.png) repeat-y;
	.field {
		background: url(/images/field-divider.jpg)  bottom no-repeat;
		position: relative;
		margin-bottom: 6px;
		width: 400px;
		height: 33px;
		input{
			background: #e2e1e1;
			border: 0;
			float: right;
			padding: 6px;
			color: #013662;
			&:hover {
				background: #f5f5f5;
			}
			&:focus {
				background: #f5f5f5;	
			}
		}
			
		label{
			color: #545352;
        	font-family: helvetica;
        	font-size: 13px;
        	letter-spacing: 0.03em;
        	margin-right: 16px;	
        	text-shadow: 0 1px 0 #FFFFFF;
	    }  
	}
	.next-prev-buttons {
		width: 598px;
		height: 53px;
		position: relative;
		background: url(/images/about-box-bottom.png) no-repeat;
		background-color: #FFF;
		margin-left: -27px;
		margin-top: 55px;
	}
	.hide {

	}
		
}
.consult_form {
	
	h3 {
		color: #438BC3;
    	font-size: 20px;
    	font-weight: 300;
    	margin-bottom: 0;
    	margin-top: 0;
    	padding-top: 3px;
    	text-shadow: 0 1px 0 #FFFFFF;
	}
	h4 {
		color: #013662;
    	font-size: 16px;
    	font-weight: 600;
    	text-shadow: 0 1px 0 #FFFFFF;		
	}
	p {
		color: #013662;
		font-weight: 300;
		font-size: 13px;
		text-shadow: 0 1px 0 #FFFFFF;	
	}

}