%img.pierce{:src=>"", :alt=>"Pierce W. Powers, Jr."}
%p
	%b
		POWERS
		%sup
			&reg; 
	Insurance and Benefits continues the success of PowersGroup, Inc.  The firm was founded by Pierce W. Powers, Jr. (right), in 1991, to bring independent insurance products and financial counsel to the discerning client.  Our service and expertise is constantly honed in order to exceed client expectation.

%p
	Our highly trained, progressive and creative team of specialists, enhanced by a full arsenal of risk management and planning tools, provides comprehensive analysis and solutions.  We are relentless in our quest to provide the right fit client relationship.

%p
	We represent the highest rated national, regional and international carriers, and design retention and self-funded programs with appropriate re-insurers.  We customize commercial and personal insurance and employee benefit programs.

%p
	Our Financial Services Department designs perpetuation and retirement plans (including 401(k)), executive compensation, life insurance, and estate preservation programs to specific client needs.
%p
	%b
		POWERS
		%sup
			&reg; 
	is certified by both the Institute of Work Comp Professionals and the WorkComp Advisory Group.  Many of our associates carry professional designations such as CPCU, CWCA, CLU, PWCA, CWCS, CISR, ACSR, and MBA.  We are a Trusted Choice agency dedicated to providing insurance company options, customization of coverage, and advocacy support.

%p
	%b
		POWERS
		%sup
			&reg; 
	is licensed in property, casualty, life, health and long term care insurance in most states. We are an independent member of SIAA (Strategic Independent Agents Alliance), a $5.3 billion international insurance organization.  We are regional in temperament and international in scope.

%p
	Our comprehensive program creates
	%b
		Total Asset Security
		%sup
			&reg; 
	utilizing a unique application of insurance and benefit programs, structures, and systems.
	%b
		The Powers Process
		%sup
			&reg; 
	uses planning, protection perspectives, and two unique "Focus Questions" to analyze individual and corporate goals, identify risks and opportunities, and develop a systematic plan to achieve those goals.

%p
	Time invested in 
	%b
		The Powers Process
		%sup
			&reg; 
	will create a carefully crafted co-authored action plan to provide certainty, solutions, and results that are measureable.
%img.pierce{:src=>"", :alt=>"Powers Process"}