%p
	We look forward to hearing from you! Please click on a name below to contact an associate. Due to the necessity of spam filtering, please ask for a read-receipt.

.producers
	%h2
		Producers
	%a{:href=>"mailto:piercep@powersinsurance.com"}
		Pierce W. Powers, Jr., MBA, President
	%a{:href=>"mailto:mels@powersinsurance.com"}
		Mel S. Shaikewitz, Vice President
	%a{:href=>"mailto:dons@powersinsurance.com"}
		Donald L. Shaikewitz, Senior Producer
	%a{:href=>"mailto:jdp@powersinsurance.com"}
		JD Powers, CLCS, PWCA, Client Advisor and Producer

.administrative
	%h2
		Administrative
	%a{:href=>"mailto:maryellenc@powersinsurance.com"}
		Mary Ellen Campbell, MBA, CISR, Finance
	%a{:href=>"mailto:lindad@powersinsurance.com"}
		Linda Deardeuff, Office Assistant

.benefits
	%h2
		Benefits
	%a{:href=>"mailto:bobk@powersinsurance.com"}
		Robert Klostermeyer, CLU, Director of Employee Benefits
	%a{:href=>"mailto:suzettec@powersinsurance.com"}
		Suzette Collis, RHU, Life/Health Assistant

.commercial
	%h2
		Commercial Lines
	%a{:href=>"mailto:lindar@powersinsurance.com"}
		Linda Ramey, CPCU, Commercial Lines Supervisor
	%a{:href=>"mailto:katiem@powersinsurance.com"}
		Katie Manlove, ACSR, CISR, Commercial Account Representative
	%a{:href=>"mailto:susiek@powersinsurance.com"}
		Susie King, CISR, Commercial Account Representative

.personal
	%h2
		Personal Lines
	%a{:href=>"mailto:johnf@powersinsurance.com"}
		John P. Flanigan, Jr., CPCU, Vice President, Personal Lines
	%a{:href=>"mailto:erikag@powersinsurance.com"}
		Erika Gebhardt, Personal Account Specialist
	%a{:href=>"mailto:christenb@powersinsurance.com"}
		Christen Beardall, CISR, Personal Account Representative