.assoc-head-top	
	%h1
		Affiliations
.assoc-head-middle
	%p
		%span.powers
			POWERS
			%span.sup-small
				&reg
		is independent, but we do not stand alone. We are a proud member of the Missouri Association and the Big "I". 
		%br
		Two of our favorites: The Institute of WorkComp Professionals brings unparalleled processes to improve your bottom line. The SIAA-VIAA affiliation makes us $ 5.3 Billion in premium strong. We are regional in temperament and international in scope.
		%br
		%br
		Please click on a Logo!
	.logos
		.affil-top
			%a.trustedchoice{:href => "http://www.trustedchoice.com/default.aspx", :target => "_blank"}
			%a.workcomp{:href => "http://www.workcompprofessionals.com/employers.html", :target => "_blank"}
			%a.viaa{:href => "http://www.viaa4u.com", :target => "_blank"}
		.affil-bottom
			%a.missouri{:href => "http://www.iiaba.net/mo/default?ContentPreference=MO&ActiveTab=STATE&ActiveState=MO", :target => "_blank"}
			%a.iia{:href => "http://www.iiaba.net/na/default?ContentPreference=NA&ActiveTab=NA&ActiveState=0", :target => "_blank"}
			%a.siaa{:href => "http://www.siaa.net/", :target => "_blank"}
.assoc-head-bottom
