.companies
	%h1
		Restoration Companies -	
	- @companies.each do |company|
		.company-box
			.company-bg
				.company-logo
					= image_tag company.logo.url(:medium)
				.company-right
					.company-name
						= company.name
					.company-info
						.company-billing.business
							.phone-one
								See Billing Statement
						.company-claim.business
							.phone-one
								= company.claim_number_one
							.phone-two
								= company.claim_number_two