= stylesheet_link_tag 'business'
.index
	%a.instantquote{:href => "", :target => "_blank"}
		%span
			Instant Quote!
	%a.livechat{:href => "javascript:void(0);", :onclick => "habla_window.expand()", :alt => "Click to talk to one of our Agents!"}
		%span
			Live Chat!