.index
	.contact-box-top
	.contact-box-mid
		.contact-box-mid-left
			%span.powers-contact
				POWERS
				%span.sup-large
					&reg
			.address
				%span
					7745 Carondelet Avenue, Suite 200
				%span
					Clayton, Missouri 63105-3315
			.numbers
				.phone
					%h2
						PHONE
					%span
						314.725.1414
				.tollfree
					%h2
						TOLL FREE
					%span
						866.948.5100
				.fax
					%h2
						FAX
					%span
						314.725.2350
				.phone
					%h2
						SMS TEXT
					%span
						314.725.2350
			%p
				After Hours, Weekend, and Holiday Answering Service!
			.hours
				%h3
					OFFICE HOURS:
				%span
					Monday thru Friday
				%span
					7:30 a.m. - 5:00 p.m.		
		.contact-box-mid-right
			%div{:id => "map_canvas"}
	.contact-box-bottom
.clearall